<div class="container">
  @if (edicion) {
    <div style="text-align: center; margin: 5%">
      <h2>Actualización de Notificacion</h2>
    </div>
  } @else {
    <div style="text-align: center; margin: 5%">
      <h2>Registro de Notificacion</h2>
    </div>
  }

  <div style="text-align: center; margin: 5%">
    <form [formGroup]="form" (submit)="aceptar()">

      @if (edicion) {
        <mat-form-field>
          <mat-label>ID</mat-label>
          <input matInput formControlName="codigo" [readonly]="edicion" />
        </mat-form-field>
      }

      <br />
      <mat-form-field>
        <mat-label>Tipo de Notificacion</mat-label>
        <mat-select formControlName="fk">
          @for (t of listatipoNotificacion; track t) {
            <mat-option [value]="t.id_Tipo_Notificacion">{{ t.tipo_Tipo_Notificacion}}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <br />
      <mat-form-field>
        <mat-label>mensaje</mat-label>
        <input matInput formControlName="mensaje" />
        <mat-error>
          @if (form.get('mensaje')?.hasError('required')) { Ingrese mensaje!! }
          @if (form.get('mensaje')?.hasError('maxlength')) { Máximo 100 caracteres permitidos!! }
        </mat-error>
      </mat-form-field>

      <br />
      
      <mat-form-field>
        <mat-label>Fecha</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="fecha" />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error>
          @if (form.get('fecha')?.hasError('required')) { Ingrese fecha!! }
        </mat-error>
      </mat-form-field>

      <div>
        @if (edicion) {
          <button matButton="elevated">Actualizar</button>
        } @else {
          <button matButton="elevated">Registrar</button>
        }
      </div>
    </form>
  </div>
</div>