<div class="container">
  <div style="text-align: center; margin: 5%"><h2>BotonPanico</h2></div>
  <div style="text-align: center; margin: 5%">
    <form [formGroup]="form" (submit)="aceptar()">
      <div>
        <button mat-button class="image-button" type="button" aria-label="Interactuar" (click)="aceptar()">
          <img src="https://img.lovepik.com/free-png/20211213/lovepik-red-button-label-png-image_401551980_wh1200.png" alt="Interactuar">
        </button>

      </div>
    </form>
  </div>
</div>
