<div class="container">
  @if (edicion) {
    <div style="text-align: center; margin: 5%">
      <h2>Actualización de Incidente</h2>
    </div>
  } @else {
    <div style="text-align: center; margin: 5%">
      <h2>Registro de Incidente</h2>
    </div>
  }

  <div style="text-align: center; margin: 5%">
    <form [formGroup]="form" (submit)="aceptar()">

      @if (edicion) {
        <mat-form-field>
          <mat-label>ID</mat-label>
          <input matInput formControlName="codigo" [readonly]="edicion" />
        </mat-form-field>
      }

      <br />
      <mat-form-field>
        <mat-label>Usuario</mat-label>
        <mat-select formControlName="fk1">
          @for (u of listausuarios; track u) {
            <mat-option [value]="u.id_Usuario">{{ u.nombreCompleto }}</mat-option>
          }
        </mat-select>
        <mat-error>
          @if (form.get('fk1')?.hasError('required')) { Seleccione un usuario!! }
        </mat-error>
      </mat-form-field>

      <br />
      <mat-form-field>
        <mat-label>Nivel de Peligro</mat-label>
        <mat-select formControlName="fk2">
          @for (n of listaNivelPeligro; track n) {
            <mat-option [value]="n.id_nivel">{{ n.nivel }}</mat-option>
          }
        </mat-select>
      <mat-error>
        @if (form.get('fk2')?.hasError('required')) { Seleccione un nivel de peligro!! }
      </mat-error>
      </mat-form-field>

      <br />
      <mat-form-field>
        <mat-label>Tipo de Incidente</mat-label>
        <mat-select formControlName="fk3">
          @for (t of listaTipoIncidente; track t) {
            <mat-option [value]="t.id_Tipo_Incidente">{{ t.tipo_Tipo_Incidente }}</mat-option>
          }
        </mat-select>
      <mat-error>
        @if (form.get('fk3')?.hasError('required')) { Seleccione un tipo de incidente!! }
      </mat-error>
      </mat-form-field>

      <br />
      <mat-form-field>
        <mat-label>Distrito</mat-label>
        <mat-select formControlName="fk4">
          @for (d of listadistrito; track d) {
            <mat-option [value]="d.id_Distrito">{{ d.nombre }}</mat-option>
          }
        </mat-select>
      <mat-error>
        @if (form.get('fk4')?.hasError('required')) { Seleccione un distrito!! }
      </mat-error>
      </mat-form-field>

      <br />
      
      <div>
        <label for="imagen">Imagen</label>
        <br>
        <input type="file" id="imagen" (change)="onFileSelected($event)" />
        <mat-error>
          @if (form.get('imagen')?.hasError('required')) { Ingrese URL de la imagen!! }
        </mat-error>
      </div>

      <br />
      <mat-form-field>
        <mat-label>Descripción</mat-label>
        <textarea matInput formControlName="descripcion"></textarea>
        <mat-error>
          @if (form.get('descripcion')?.hasError('required')) { Ingrese descripción del incidente!! }
          @if (form.get('descripcion')?.hasError('minlength')) { Mínimo 20 caracteres requeridos!! }
          @if (form.get('descripcion')?.hasError('maxlength')) { Máximo 500 caracteres permitidos!! }
        </mat-error>
      </mat-form-field>

      <br />
      <mat-form-field>
        <mat-label>Fecha de Registro</mat-label>
        <input matInput [value]="form.get('fechacreacion')?.value | date:'dd/MM/yyyy HH:mm:ss'" readonly/>
        <mat-error>
          @if (form.get('fechacreacion')?.hasError('required')) {
            Ingrese fecha de registro!!
          }
        </mat-error>
      </mat-form-field>

      <br />
      <mat-form-field>
        <mat-label>Fecha de Modificacion</mat-label>
        <input matInput [value]="form.get('fechamodificacion')?.value | date:'dd/MM/yyyy HH:mm:ss'" readonly/>
        <mat-error>
          @if (form.get('fechamodificacion')?.hasError('required')) {
            Ingrese fecha de modificacion!!
          }
        </mat-error>
      </mat-form-field>

      <div class="map-container">
        <div id="map"></div>
      </div>
      <br />

      <mat-form-field>
        <mat-label>Latitud</mat-label>
        <input matInput formControlName="latitud" type="number" readonly/>
      </mat-form-field>

      <br />
      <mat-form-field>
        <mat-label>Longitud</mat-label>
        <input matInput formControlName="longitud" type="number" readonly/>
      </mat-form-field>

      <div>
        @if (edicion) {
          <button matButton="elevated">Actualizar</button>
        } @else {
          <button mat-raised-button color="primary">Registrar</button>
          <button mat-raised-button color="warn" (click)="cancelar()">Cancelar</button>
        }
      </div>
    </form>
  </div>
</div>