<div class="container">
  @if (edicion) {
    <div style="text-align: center; margin: 5%">
      <h2>Actualización de Boton Panico</h2>
    </div>
  } @else {
    <div style="text-align: center; margin: 5%">
      <h2>Registro de Boton Panico</h2>
    </div>
  }

  <div style="text-align: center; margin: 5%">
    <form [formGroup]="form" (submit)="aceptar()">

      @if (edicion) {
        <mat-form-field>
          <mat-label>ID</mat-label>
          <input matInput formControlName="codigo" [readonly]="edicion" />
        </mat-form-field>
      }

      <br />
      <mat-form-field>
        <mat-label>Usuario</mat-label>
        <mat-select formControlName="fk1">
          @for (u of listausuarios; track u) {
            <mat-option [value]="u.id_Usuario">{{ u.nombreCompleto }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <br />
      <mat-form-field>
        <mat-label>fecha</mat-label>
        <input type="datetime-local" matInput formControlName="fecha" />
      </mat-form-field>

      <br />
      <mat-form-field>
        <mat-label>latitud</mat-label>
        <input type="number" matInput formControlName="latitud" />
      </mat-form-field>

      <br />
      <mat-form-field>
        <mat-label>longitud</mat-label>
        <input type="number" matInput formControlName="longitud" />
      </mat-form-field>

      <div>
        @if (edicion) {
          <button matButton="elevated">Actualizar</button>
        } @else {
          <button matButton="elevated">Registrar</button>
        }
      </div>
    </form>
  </div>
</div>