
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.login-box {
  width: 300px;
}

.custom-input {
  width: 100%;
  border-radius: 20px; /* bordes semicirculares */
  background-color: #e6f7ff; /* celeste muy claro */
  border: none; /* sin borde gris por defecto */
  padding: 10px;
  margin: 10px 0;
  font-size: 14px;
  box-sizing: border-box;
}

.custom-input:focus {
  outline: none; /* quita el borde azul al hacer foco */
  background-color: #e6f7ff; /* mantiene el mismo color */
}

.custom-button {
  width: 100%;
  border-radius: 20px;
  background-color: #003366; /* azul oscuro */
  color: white;
  padding: 10px;
  font-size: 14px;
  border: none;
  cursor: pointer;
}

/* Mantener siempre el mismo color */
.custom-button:hover,
.custom-button:focus,
.custom-button:active {
  background-color: #003366;
  color: white;
}


