<div class="container">
  <div style="text-align: center; margin: 5%">
    <h2>Lista de Botones de Pánico</h2>
  </div>
    <div [formGroup]="form" style="display:flex; gap:20px; margin-bottom:20px;">
    <mat-form-field appearance="outline">
      <mat-label>Fecha Inicio</mat-label>
      <input matInput [matDatepicker]="pickerInicio" formControlName="fechaInicio">
      <mat-datepicker-toggle matSuffix [for]="pickerInicio"></mat-datepicker-toggle>
      <mat-datepicker #pickerInicio></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Fecha Fin</mat-label>
      <input matInput [matDatepicker]="pickerFin" formControlName="fechaFin">
      <mat-datepicker-toggle matSuffix [for]="pickerFin"></mat-datepicker-toggle>
      <mat-datepicker #pickerFin></mat-datepicker>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="reiniciarTabla()">
      Reiniciar
    </button>
  </div>
  @if (rol === 'ADMIN') {
      <!-- filtro por Usuario -->
  <div [formGroup]="form">
    <mat-form-field appearance="outline" style="width: 250px; margin-bottom: 20px;">
      <mat-label>Filtrar por Usuario</mat-label>
        <mat-select formControlName="fk">
          <mat-option value=''>Todos</mat-option>
          @for (t of listausuarios; track t) {
            <mat-option [value]="t.id_Usuario">{{ t.nombreUsuario}}</mat-option>
          }
        </mat-select>
    </mat-form-field>
  </div>
  }
  <div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!-- ID -->
      <ng-container matColumnDef="c1">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element">{{ element.id_Boton_Panico }}</td>
      </ng-container>

      <!-- Usuario -->
      <ng-container matColumnDef="fk1">
        <th mat-header-cell *matHeaderCellDef> Usuario </th>
        <td mat-cell *matCellDef="let element">{{ element.usuario.nombreUsuario }}</td>
      </ng-container>

      <!-- Columna Fecha -->
      <ng-container matColumnDef="c2">
        <th mat-header-cell *matHeaderCellDef> Fecha de Registro </th>
        <td mat-cell *matCellDef="let element">
          {{ element.fecha_Activacion | date:'dd/MM/yyyy HH:mm:ss' }}
        </td> 
      </ng-container>

      <!-- Actualizar -->
      <ng-container matColumnDef="c5">
        <th mat-header-cell *matHeaderCellDef> Actualizar </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button class="custom-icon-btn" [routerLink]="['edits', element.id_Boton_Panico]">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Eliminar -->
      <ng-container matColumnDef="c6">
        <th mat-header-cell *matHeaderCellDef> Eliminar </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button class="custom-icon-btn" (click)="eliminar(element.id_Boton_Panico)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Filas -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <!-- 🔹 Paginador -->
    <mat-paginator [pageSize]="5"
                   [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons>
    </mat-paginator>
  </div>
</div>
