<div class="container">
  <div style="text-align: center; margin: 5%"><h2>Registro de Niveles</h2></div>
  <div style="text-align: center; margin: 5%">
    <form [formGroup]="form" (submit)="aceptar()">
      @if(edicion){
      <mat-form-field>
        <mat-label>ID</mat-label>
        <input matInput formControlName="codigo" />
        <mat-error>
          @if (form.get('codigo')?.hasError('required')) { Ingrese codigo del Nivel!! }
        </mat-error>
      </mat-form-field>
      }

      <br />
      <mat-form-field>
        <mat-label>Nivel</mat-label>
        <input matInput formControlName="nivel" />
        <mat-error>
          @if (form.get('nivel')?.hasError('required')) { Ingrese numero del Nivel!! }
        </mat-error>
      </mat-form-field>
      <br />
      <div>
        <button matButton="elevated">Registrar</button>
      </div>
    </form>
  </div>
</div>
